[submodule "machine/libretro-common"]
	path = libretro-common
	url = https://github.com/libretro/libretro-common
[submodule "libretro-common"]
	path = libretro-common
	url = https://github.com/madcock/libretro-common
